<div id="leftContent" class="columns small-3 medium-3 large-3" style="height: 758px;margin-top:6px;padding-left:4px!important;background:none repeat scroll 0 0 #f2f2f2">
	<%= render 'layouts/sidebar' %>
</div>
<div id="mainContent" class="columns small-15 medium-15 large-15">   
	<div id="expenses-page">
		<!-- 
		      ---------------------------------------- Expense Entry Section ---------------------------------------- 
		-->

		<div id="expense-section" class="panel receipt-entry-section">
			<div id="form-error" style="display:none"><span></span></div>
			<div class="row headers">
				<div class="columns small-7 medium-7 large-7">
					<span>Details</span>
				</div>
				<div class="columns small-6 medium-6 large-6">
					<span>Categories</span>
				</div>
				<div class="columns small-2 medium-2 large-2">
					<span>Amounts</span>
				</div>
			</div>
			<%#= Dump(@categories) %>
			<%= form_for :expense, :url => {:action => 'save' }, :html => {:id => 'receipt-form'} do |f| %>
				<div class='expense-details'>
    	
				<% 6.times do |i| %>
			<div class='row'>
				<div class='columns small-7 medium-7 large-7'>
				
				<% case i  
				when 0 %>
					<%= f.label "Receipt Date:" %>
					<%= f.text_field :date, type: 'textbox', class: 'numeric text-box', data: { "date-format" => 'yyyy-mm-dd hh:ii:ss' } %>
					<%= f.hidden_field :updatedate, data: { "date-format" => 'yyyy-mm-dd hh:ii:ss' } %>
					<%= f.hidden_field :updateuser, value: @user %>
					<%= f.hidden_field :employeeid, value: @user %>
					<%= f.hidden_field :receiptno, value: "0" %>
					<%= f.hidden_field :employeeid, value: @user %>
					<%= f.hidden_field :status, value: 'pending' %>
					<%= f.hidden_field :local %>
					<%= f.hidden_field :action, id: 'action' %>
					<div>
						<%= f.label "Have Receipt:" %>
						<%= f.check_box :havereceipt, value: "0", autocomplete: 'off', class: 'check-box' %>
					</div>
				<% when 1 %>
					<%= f.label "Exp. Reason:" %>
					<%= f.collection_select(:reason, @exp_reasons.all, @db_cols[:reason], @db_cols[:description], {include_blank: true}, class: "select-size2") %>
				<% when 2 %>
					<div style='float'>
						<%= f.label "State:" %>
						<%= f.collection_select(:state, @states.all, @db_cols[:stateabbr], @db_cols[:stateabbr], {include_blank: true}, class: "select-size1") %>
					</div>
   
				<% when 3 %>
					<div>
						<%= f.label "Paid By:" %>
						<%= f.collection_select(:paidby, @paid_by.all, @db_cols[:codedesc], @db_cols[:codedesc], {include_blank: true}, class: "select-size2") %>
					</div>
				<% when 4 %>
					<div>
						<%= f.label "Duration:" %>
						<%= f.text_field :duration, type: 'textbox', class: 'numeric text-box' %>
						
						<%= f.label "Type:" %>
						<%= f.select(:durationtype, [['',''], ['Hours', 'Hours'], ['Days', 'Days']], {}, class: "select-size1" ) %>
					</div>
				<% when 5 %>
					<%= f.label "Vendor:" %>
					<%= f.text_field :vendor, type: 'textbox', class: 'text-box2' %>
				<% end %>

				</div>
				<div class='columns small-6 medium-6 large-6'>
					<% if i < 5 %>
						<%= f.collection_select("category#{i+1}", @categories.all, @db_cols[:categoryID], @db_cols[:description], { include_blank: true },{ :data => {val: "#expense_amount#{i+1}"} }) %>
	            </div>
    				<div class='columns small-2 medium-2 large-2'>
						<%= f.text_field "amount#{i+1}", type: 'textbox', class: 'amount numeric text-box', autocomplete: 'off', data: {val: "#expense_category#{i+1}"} %>
    				</div></div>
					<% else %>
						<%= f.label "Total:", style: "float: right" %>
            </div>
    				<div class='columns small-2 medium-2 large-2'>
						<%= f.text_field :total, type: 'textbox', class: 'total text-box' %>
    				</div></div>
					<% end %>				

		<% end %>
			<div class='row'>
				<div class='columns small-15 medium-15 large-15'>
					<%= f.label "Purpose:" %>
					<%= f.text_field :purpose, type: 'textbox', class: 'text-entry' %>
				</div>
			</div>
				<div class='row'>
  				<div class='columns small-15 medium-15 large-15'>
  					<%= f.label "Persons:" %>
					<%= f.text_field :persons, type: 'textbox', class: 'text-entry' %>
  				</div>
			</div>
		</div>
  	<div id='expense-buttons' class='row buttons-section'>
    	<div class='columns small-15 medium-15 large-15'>
			<%= link_to('New', 'javascript:;', :id => "new-button", class: 'button tiny radius btn') %>
			<%#= f.submit "Save", :id => "save-button", class: 'button tiny radius btn' %>
    		<button id='save-button' name='save' class='button tiny radius btn' type='submit' value=''>Save</button>
			<%= link_to('Edit', 'javascript:;', :id => "edit-button", class: 'button tiny radius btn') %>
			<%= link_to('Cancel', 'javascript:;', :id => "cancel-button", class: 'cancel button tiny radius btn') %>
			<%= link_to('Delete', 'javascript:;', :id => "delete-button", class: 'delete button tiny radius btn') %>
			<%= link_to('Submit for Approval', 'javascript:;', name: 'submit', id: "submit-button", class: 'submit button tiny radius btn') %>
  		</div>
  	</div>
  	<div id='approver-buttons' class='row buttons-section' style='display:none'>
    	<div class='columns small-15 medium-15 large-15'>
			<%= link_to('Approve', 'javascript:;', :id => "approve-button", class: 'button tiny radius btn') %>			
			<%= link_to('Reject', 'javascript:;', :id => "reject-button", class: 'button tiny radius btn') %>			
  		</div>
  	</div>
	<% end -%>
		</div>

		<!-- 
		      ------------------------------- Existing or Newly Created Expense Reports ---------------------------------------- 
		-->
		<div id='expense-table'>
			<input id="viewing" type="hidden" value="<%= @user %>"></input>
			<input id="main-user" type="hidden" value="<%= @user %>"></input>
			<%#= Dump(@expenses) %>
			<%= current_expenses(@user, @expenses, @db_cols, @reviewees, @reviewee_expenses) %>
		</div>
	</div>
</div>